<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Microposts:</strong>
  <% @microposts.each do |micro| %>
      <tr>
        <td><strong>Id:</strong> <%= micro.id %> </td>
        <td><strong>Content:</strong> <%= micro.content %> </td>
      </tr>
  <% end %>
</p>
